#header{
	color:black;
	font-size:100px;
	font-family: 'Georgia', 'serif';
	margin-left: 35%;
}
#photoheader{
	color:white;
	font-size: 75px;
	font-family: 'Georgia','serif';
	margin-left: 10%;
}
#subheader{
	color: white;
	font-size: 50px;
	font-family: 'Georgia','serif';
	margin-left: 15%;
}
img{
	width: 50%;
	margin-left: 25%;
	border:10px;
	border-style: solid;
	border-color: white;
}
body{
	background-color:grey;
}
#header2{
	margin-left: 48%;
}
#time{
	margin-left: 48%;
}
#time2{
	margin-left: 48%;
}
#time3{
	margin-left: 48%;
}
#time4{
	margin-left: 90%;
}
#time5{
	margin-left: 90%;
}
#time6{
	margin-left: 90%;
}
